/* body {
  font-family: 'Work Sans', sans-serif;
  background: rgb(71, 71, 71);
  color: rgb(75, 75, 75);
} */

.cont {
  font-family: 'Work Sans', sans-serif;
  background: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  margin: 0px -10px -10px -10px;
}

.pos {
  color: #81cc6e;
}

.neg {
  color: rgb(248, 110, 100);
}

.colContainer {
  width: 1180px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.col1 {
  width: 38%;
  padding: 30px 16px 0px 16px;
  margin-right: 20px;
  margin-top: 60px;
  max-height: 620px;
  overflow: scroll;
}

.col2 {
  width: 62%;
  padding: 30px 16px 0px 16px;
  margin-top: 60px;
  max-height: 620px;
  overflow: scroll;
}

/*
  Header
  ==============================================
*/

.header {
  display: flex;
  margin: 0 auto;
  color: white;
  position: fixed;
  font-family: 'Sansita Swashed', cursive;
  /* background: #4dbd53; */
  background: rgb(65, 71, 82);
  width: 100%;
  height: 70px;
  margin: -10px -10px 0px -10px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 4px 10px;
  z-index: 1;
}

.logo {
  font-size: 40px;
  margin-left: 40px;
  cursor: pointer;
  color: white;
}

.logo:hover {
  color: rgb(132, 206, 72);
}

.headerContents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
}

.vmpButton {
  font-family: 'Work Sans', sans-serif;
  margin-right: 40px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.vmpButton:hover {
  color: rgb(132, 206, 72);
}

.vmpButton:focus {
  outline: none;
}

/*
  Search
  ==============================================
*/

.searchContainer {
  height: 36px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}

.searchbar {
  border: none;
  width: 100%;
  height: 36px;
  padding-left: 15px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.searchbar:focus {
  transition: box-shadow 0.5s ease;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 0px 20px;
  /* border: 2px solid rgb(105, 114, 133); */
  border: 2px solid rgb(109, 118, 138);
}

.searchResults {
  position: absolute;
  width: 416px;
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  border: none;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 20px;
  z-index: 4;
}

.searchItem {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 5px 15px;
}

.searchItem:nth-last-child(1) {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchItem:hover {
  transition: all .3s ease;
  cursor: pointer;
  background: rgb(240, 240, 240);
}


/*
  Portfolio / Watchlist
  ==============================================
*/

/* holds all over classes pertaining to the list*/
.listContents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.myStocksTitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

/* holds the content for each individual stock, including the trade */
.stockContainer {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 240px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px;
  border-radius: 12px;
  overflow: hidden;
}

.stockContainer:hover {
  transition: all 0.3s ease;
  margin-top: -3px;
  margin-bottom: 33px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 16px;
}

.stock {
  width: 190px;
  height: 240px;
  /* border-radius: 12px; */
  background: white;
  overflow: hidden;
}

.stockContainer:nth-child(odd) {
  margin-right: 10px;
}

/* top title and shares portion of each stock */
.titleAndShares {
  display: flex;
  justify-content: space-between;
}

/* box title for each stock */
.stockTitle {
  border-radius: 12px;
  color: white;
  width: 60%;
  height: 76px;
  text-decoration: none;
  padding: 8px 0px 0px 12px;
  margin: 4px 0px 0px 4px;
}

.numOfShares {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(65, 71, 82);
  border: 2px solid rgb(65, 71, 82);
  background: white;
}

.remove {
  color: rgb(255, 91, 112);
  border: 2px solid rgb(255, 91, 112);
  cursor: pointer;
}
.remove:hover {
  color: white;
  border: 2px solid rgb(255, 91, 112);
  background: rgb(255, 91, 112);
  cursor: pointer;
}

/* shows the current price and percent gain */
.stockStats {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}

.tradeContainer {
  width: 190px;
  height: 150px;
  border-radius: 12px;
}

.tradeContents {

}

.tradeForm {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.tradeInput {
  height: 30px;
  width: 96px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  padding-left: 6px;
}

.tradeInput:focus {
  outline: none;
  border: 2px solid rgb(70, 70, 70);
}

.tradeButton {
  font-family: 'Work Sans', sans-serif;
  border: 2px solid rgb(65, 71, 82);
  background: white;
  color: rgb(65, 71, 82);
  border-radius: 8px;
  width: 80px;
  cursor: pointer;
  height: 40px;
  margin: 6px 10px 0px 100px;
}
.tradeButton:hover {
  background: rgb(65, 71, 82);
  color: white;
}

.tradeButton:focus {
  outline: none;
}

.cancelButton {
  font-family: 'Work Sans', sans-serif;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  background: none;
  width: 60px;
  padding: 7px 0px;
  cursor: pointer;
}

.cancelButton:hover {
  background: white;
  color: rgb(83, 83, 83);
}

.cancelButton:focus {
  outline: none;
}

.buyButton {
  font-family: 'Work Sans', sans-serif;
  width: 60px;
  height: 30px;
  background: none;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.buyButton:hover {
  background: rgb(132, 206, 72);
}

.sellButton:hover {
  background: rgb(228, 69, 69);
}


/*
  News
  ==============================================
*/

.news {
  margin: 40px 0px;
}

.feed {

}

.newsOptions {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}

.newsButton {
  background: none;
  border: 1px solid rgb(185, 185, 185);
  width: 160px;
  height: 50px;
  border-radius: 12px;
  vertical-align: center;
}

.post {
  display: flex;
  background: rgb(47, 60, 87);
  color: white;
  font-size: 14px;
  border-radius: 12px;
  padding: 7px 10px;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px;
}

.postContent {
  margin-left: 10px;
}

.postImage {
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

/*
  Chart
  ==============================================
*/

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: white;
  border-radius: 12px;
  padding: 0px 0px 0px 16px;
}

.timelineBut {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  border: none;
  padding: 12px 14px;
  cursor: pointer;
  border-radius: 8px;
  vertical-align: center;
  margin: 0px 6px;
}

.timelineBut:hover {
  border: 2px solid rgb(255, 255, 255);
  margin: 0px 4px;
}

.timelineBut:focus {
  outline: none;
}

/*
  Graph
  ==============================================
*/

.graph {
  margin-bottom: 40px;
  /* padding: 20px; */

}

.chart {
  background: white;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border-radius: 12px;
}

/*
  Breakdown
  ==============================================
*/

.breakdown {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px;
}

.pieChart {
  margin-right: 60px;
}

.diversity {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 390px;
}

.divLabels {
  border-bottom: 1px solid rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

